In [1]:
import pandas as pd
import numpy as np

# A basic visualization library
import matplotlib.pyplot as plt

# A great visualization library
import seaborn as sns

# This command tells python to use seaborn for its styling.
sns.set()

# Making the charts appear in the notebook instead of in a new window.
%matplotlib inline

# Linear Regression #

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import mean_squared_error

### Variables ###

Annual_Inflation = 0.03

In [2]:
df = pd.read_csv('nyc-rolling-sales.csv')
df.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,,...,5,0,5,1633.0,6440.0,1900,2,C2,6625000.0,7/19/2017 0:00
1,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,,...,10,0,10,2272.0,6794.0,1913,2,C4,3936272.0,9/23/2016 0:00
2,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,,...,6,0,6,2369.0,4615.0,1900,2,C2,8000000.0,11/17/2016 0:00
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,406,32,,C4,210 AVENUE B,,...,8,0,8,1750.0,4226.0,1920,2,C4,3192840.0,9/23/2016 0:00
4,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,387,153,,D9,629 EAST 5TH STREET,,...,24,0,24,4489.0,18523.0,1920,2,D9,16232000.0,11/7/2016 0:00

In [3]:
# Identify which columns have null values. 
df.isnull().sum() 
((df.isnull().sum() / len(df)) * 100).round(2)

BOROUGH                            0.00
NEIGHBORHOOD                       0.00
BUILDING CLASS CATEGORY            0.00
TAX CLASS AT PRESENT               0.00
BLOCK                              0.00
LOT                                0.00
EASE-MENT                          0.00
BUILDING CLASS AT PRESENT          0.00
ADDRESS                            0.00
APARTMENT NUMBER                   0.00
ZIP CODE                           0.00
RESIDENTIAL UNITS                  0.00
COMMERCIAL UNITS                   0.00
TOTAL UNITS                        0.00
LAND SQUARE FEET                  33.23
GROSS SQUARE FEET                 35.06
YEAR BUILT                         0.00
TAX CLASS AT TIME OF SALE          0.00
BUILDING CLASS AT TIME OF SALE     0.00
SALE PRICE                        15.43
SALE DATE                          0.00
dtype: float64

In [4]:
n_dupes = df.duplicated().sum()
print("Number of duplicate rows are %i." % n_dupes)

# Modify our df to have all duplicate rows removed. 
df = df.drop_duplicates()

Number of duplicate rows are 380.

In [10]:
# Remove any row that has a null value in it. 
df = df.dropna()

cols_to_select = ['ADDRESS','ZIP CODE', 'LAND SQUARE FEET','GROSS SQUARE FEET', 'SALE PRICE','TAX CLASS AT PRESENT']
print (df.dtypes)

BOROUGH                             int64
NEIGHBORHOOD                       object
BUILDING CLASS CATEGORY            object
TAX CLASS AT PRESENT               object
BLOCK                               int64
LOT                                 int64
EASE-MENT                          object
BUILDING CLASS AT PRESENT          object
ADDRESS                            object
APARTMENT NUMBER                   object
ZIP CODE                            int64
RESIDENTIAL UNITS                   int64
COMMERCIAL UNITS                    int64
TOTAL UNITS                         int64
LAND SQUARE FEET                  float64
GROSS SQUARE FEET                 float64
YEAR BUILT                          int64
TAX CLASS AT TIME OF SALE           int64
BUILDING CLASS AT TIME OF SALE     object
SALE PRICE                        float64
SALE DATE                          object
dtype: object

In [15]:
n_dupes = df.duplicated().sum()
null=df.isnull().sum()
print("Number of duplicate rows are %i." % n_dupes)
null

Number of duplicate rows are 0.

BOROUGH                           0
NEIGHBORHOOD                      0
BUILDING CLASS CATEGORY           0
TAX CLASS AT PRESENT              0
BLOCK                             0
LOT                               0
EASE-MENT                         0
BUILDING CLASS AT PRESENT         0
ADDRESS                           0
APARTMENT NUMBER                  0
ZIP CODE                          0
RESIDENTIAL UNITS                 0
COMMERCIAL UNITS                  0
TOTAL UNITS                       0
LAND SQUARE FEET                  0
GROSS SQUARE FEET                 0
YEAR BUILT                        0
TAX CLASS AT TIME OF SALE         0
BUILDING CLASS AT TIME OF SALE    0
SALE PRICE                        0
SALE DATE                         0
dtype: int64

In [9]:
#define x and y for the predictor
# y is what we are trying to predict, and X is what we are using to make that prediction.

feature_cols = df['GROSS SQUARE FEET','LAND SQUARE FEET','YEAR BUILT','TAX CLASS AT TIME OF SALE']

x = df[feature_cols]
y = df['SALE PRICE']

KeyError: ('GROSS SQUARE FEET', 'LAND SQUARE FEET')

In [ ]:
# split data into train and test
x_train, x_test, y_train, y_test = train_test_split(
x, y, test_size=0.2)
print('Lenght of our Training data:', x_train.shape, '\nLength of our Testing data:', x_test.shape)

In [ ]:
# instantiate, fit
linreg = LinearRegression()
linreg.fit(x_train, y_train)

In [ ]:
# manually
price = -46773.65 + 1000*282.29
# using the model
linreg.predict(1000)
array([ 238175.93])